#
# Options file for sqoop import
# ingest HumanResources.Department table to hdfs with direct import on hive 
#

#tool
import

#connection string
--connect 
jdbc:sqlserver://192.168.0.10:1433;databaseName=AdventureWorks2012

#username 
--username 
sqoop_user

#password 
#-P
--password-file
/home/cloudera/Documents/SQLServer/.sqlpwd 

#table to import
--query
SELECT * FROM HumanResources.Department WHERE $CONDITIONS

# 1 mapper for no splits
-m
1

#target dir on hdfs
--target-dir
hdfs:///user/hive/warehouse/AdventureWorks2012/HumanResources

#Direct import on hive
--hive-import

#db.tablename on Hive
--hive-table
adventureworks2012.humanresources_department

#Overwrite if table exists
--hive-overwrite

#using snnapy as compression codec
--compression-codec
org.apache.hadoop.io.compress.SnappyCodec
